body {
    background-color: lightcyan;
}
header{
    font: bold 50px arial;
    text-align: center;
    color: blue;
}
textarea {
    width: 100%;
    height: 30%;
}
#cloudPicture {
    text-align: center;
}