<header>
    AI Word Cloud
</header>
<div id="textInput">
    <table>
        <tbody>
            <tr>
                <td>
                    Show Top Words
                </td>
                <td>
                    <input type="number" placeholder="50" style="column-width:5px" />
                </td>
                <td>
                    Font Style
                </td>
                <td>
                    <select id="fontSelector" v-model="wordFont">
                        <option>Arial</option>
                        <option>Times New Roman</option>
                        <option>Impact</option>
                    </select>
                </td>
                <td>
                    Shape
                </td>
                <td></td>
                <td>
                    Positive Color
                </td>
                <td>
                    <input type="color" v-model="posColor">
                </td>
                <td>
                    Negative Color
                </td>
                <td>
                    <input type="color" v-model="negColor">
                </td>
                <td>
                    Neutral Color
                </td>
                <td>
                    <input type="color" v-model="swissColor">
                </td>
                <td>
                    Show Word List
                </td>
                <td>
                    <input type="checkbox" v-model="showWordList" />
                </td>
            </tr>
        </tbody>
    </table>
    <textarea v-model="userInput" placeholder="Paste text here."></textarea>
    <!--<div>{{userInput}}</div>
    <div>{{splitUserInput}}</div>
    <div id="stringArrayJSONString"></div>-->
    <button v-on:click="parsingInput();createWordCloud();stringArrays=[];">Create</button>
    <button id="clearButton" v-on:click="userInput=null;stringArrays=[];">Clear</button>
    <div id="cloudPicture"></div>
</div>
<link rel="stylesheet" type="text/css" href="mystyle.css" />
<script src="vue.js" type="text/javascript"></script>
<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script src="cloudmin.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="testjavascript.js" type="text/javascript"></script>

